.commits-path {
  display: flex;
  justify-content: center;
  max-height: 180px;
  overflow-y: scroll;
}
.loader {
  display: flex;
  justify-content: center;
  position: absolute;
  left: calc(30%);
  max-width: 100px;

  img {
    width: 75%;
    margin-top: 60%;
    border-radius: 50%;
    background-color: #fff;
    filter: invert(110%) sepia(30%) saturate(544%) hue-rotate(200deg);
    animation: loader-spin infinite 2s linear;
  }
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 525px) and (max-width: 1139.9px){
  .commits-path {
    display: block;
    overflow-x: auto;
  }
  .loader {
    left: calc(38%);
  }
}

@media screen and (min-width: 370px) and (max-width: 524.99px) {
  .loader {
    left: calc(38%);
    width: 20%;

    img {
      margin-top: 85%;
    }
  }
}

@media screen and (max-width: 369.99px) {
  .loader {
    left: calc(40%);
    width: 20%;

    img {
      margin-top: 120%;
    }
  }
}
