<section class="nav-bar">
  <div class="web">
    <div class="mobile">
      <button class="menu-button" (click)="toggleSidebar()">☰</button>
      <div class="sidebar" [class.show]="sidebarOpen">
        <button class="menu-button" (click)="toggleSidebar()">☰</button>
        <ul class="sidebar-categories">
          <li>
            <a routerLink="home" (click)="toggleSidebar()">Home</a>
          </li>
          <li>
            <a routerLink="privatecommits" (click)="toggleSidebar()">Private</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="logo">
      <img src="assets/icons/git.png" alt="logo">
      <h3>GV</h3>
    </div>
    <div class="sections">
      <ul class="categories">
        <li>
          <a routerLink="home" [style.color]="getColor('/home')">Home</a>
        </li>
        <li>
          <a routerLink="privatecommits" [style.color]="getColor('/home/privatecommits')">Private</a>
        </li>
      </ul>
    </div>
    <div class="social-info">
      <ul class="social-networks-list">
        <li>
          <a target="_blank" href="https://github.com/CarlosCSZ">
            <img src="assets/icons/github.png" alt="GitHub">
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.linkedin.com/in/carloscherrez/">
            <img src="assets/icons/linkedin.png" alt="LinkedIn">
          </a>
        </li>
        <li>
          <a target="_blank" href="https://twitter.com/ccherrez18">
            <img src="assets/icons/twitter.png" alt="Twitter">
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
