<section class="nav-bar">
  <div class="web">
    <div class="logo">
      <img src="assets/icons/git.png" alt="logo">
      <h4>GIT VISUALIZER</h4>
    </div>
    <div class="social-info">
      <ul class="social-networks-list">
        <li>
          <a href="https://github.com/CarlosCSZ">
            <img src="assets/icons/github.png" alt="GitHub">
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/carloscherrez/">
            <img src="assets/icons/linkedin.png" alt="LinkedIn">
          </a>
        </li>
        <li>
          <a href="https://twitter.com/ccherrez18">
            <img src="assets/icons/twitter.png" alt="Twitter">
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
