<div class="container">
  <ng-container *ngIf="render; then commitContent else noCommitContent"></ng-container>

  <ng-template #commitContent>
    <div class="commit-card" *ngIf="render">
      <div class="committer">
        <img src="{{commit.avatar}}" alt="avatar">
        <div class="auhtor-info">
          <h3>{{commit.author}}</h3>
          <h3>{{commit.email}}</h3>
        </div>
      </div>
      <div class="commit-info">
        <h4>Message: <span>{{commit.message}}</span></h4>
        <h4>Sha: <span>{{commit.sha.substring(0,6)}}</span></h4>
        <a href="{{commit.gh_url}}" target="_blank"><h4>More Details</h4></a>
      </div>
    </div>
  </ng-template>

  <ng-template #noCommitContent>
    <div class="commit-card">
      <div class="committer">
        <img src="assets/icons/user.png" alt="avatar">
        <div class="auhtor-info">
          <h3>Author</h3>
          <h3>Email</h3>
        </div>
      </div>
      <div class="commit-info">
        <h4><span style="font-weight: 700;">Select a commit to show details</span></h4>
        <a href=""><h4>More Details</h4></a>
      </div>
    </div>
  </ng-template>
</div>
