<section class="repo-form">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-6">
      <form class="formulario" autocomplete="off" [formGroup]="commitsFrom">
        <h1 class="title-repo-form text-center">Do you want to visualize one of your private repository?</h1>

        <div class="datos">
          <div class="labels">
            <label for="owner">Repository's Owner: </label>
            <label for="repo">Repository's Name: </label>
            <label for="token">GitHub Token: </label>
          </div>
          <div class="inputs">
            <input type="text" name="owner" id="owner" autocomplete="off" formControlName="owner">
            <input type="text" name="repo" id="repo" autocomplete="off" formControlName="repo">
            <input type="text" name="token" id="token" autocomplete="off" formControlName="token">
          </div>
        </div>

        <p><span>Warning: </span> For security reasons, consider deleting the GitHub token used to access the private repository after completing this process.</p>
      </form>
      <button class="buscar" (click)="requestCommits()"><img src="assets/img/busqueda.webp" alt="icon">Get Commits</button>
    </div>
  </div>
</section>
