<section class="repo-form">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-6">
      <form class="formulario" autocomplete="off" >
        <div class="title">
          <h1 class="title-repo-form text-center">Which private repository would you like to view?</h1>
          <p><span>Recommendation: </span> For security reasons, consider deleting the access token used to access the private repository after completing this process.</p>
        </div>

        <div class="name">
          <label for="repo-name">Repository's Name: </label>
          <input type="text" name="repo-name" id="repo-name" autocomplete="off">
        </div>
        <div class="token">
          <label for="access-token">Access Token: </label>
          <input type="text" name="access-token" id="access-token" autocomplete="off">
        </div>

      </form>
    </div>
  </div>
</section>
