<section class="front-page">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-6 col-sm-12">
      <h1><span class="title-gv">GIT VISUALIZER</span></h1>
      <p class="intro-p">
        Git visualizer is tool that provides an intuitive and graphical representation of a Git repository's commit history and changes over time. It offers a clear, visual overview of the development process, allowing users to comprehend the code changes and merges, that occur during software development. This visualization not only simplifies tracking the project's history but also aids in understanding the collaboration dynamics among developers, making it an invaluable asset for software teams.
      </p>
      <p class="intro-p bottom">
        By rendering each commit as a distinct point on a graphical timeline and illustrating the connections between them, a Git visualizer transforms the abstract version control system of Git into an accessible, comprehensible narrative, greatly enhancing collaboration, troubleshooting, and project management within the software development process.
      </p>
    </div>
  </div>
</section>
