.front-page {
  padding-top: 7%;
  background-color: #422f5b;
  border-radius: 85% 0 65% 0;

  h1 {
    color: #dad3d3;
  }
  .intro-p {
    margin-bottom: 2.5%;
    color: #dad3d3;
    font-size: 1.6rem;
    text-align: justify;
    font-weight: 600;
  }
  .bottom {
    margin-bottom: 5%;
  }
}
