.projects-presentation {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 1% auto 0;

  h3 {
    font-weight: 700;
    color: rgb(27, 24, 204);
    position: absolute;
    left: calc(8.6%);
    padding: 8px;
    box-shadow: 3px 2px 7px rgb(black, .1);
    background: transparent;
  }
  .display {
    display: flex;
    margin-bottom: 2%;
    gap: 2%;
  }
  app-graph {
    width: 70%;
  }

  app-commit-details {
    width: 30%;
  }
}
